/saved_models
/saved_models_
/test_data
/train_data
*.pth
*.log
train_data/
daizhuang
test_images
test_results
test_resulttuotan
test_resulttuotan3
test_tuotan
__pycache__
.DS_Store
.train_pid
tuotan3_saved_models_multichannel/
JLD/
train.txt
figures/
test_results_new_56/
test_results_new_47/
test_results_new_45/
test_results_new/


